Repository python-cmd2/cmd2: changes, and which Codecov flags are due for each by the changed paths.
All: cmd2, plugins

codecov.yml:

# Components allow you to isolate and categorize coverage data from your project with virtual filters
component_management:
  individual_components:
    - component_id: cmd2 # this is an identifier that should not be changed
      name: cmd2 # this is a display name, and can be changed freely
      paths:
        - cmd2/**
    - component_id: plugins
      name: plugins
      paths:
        - plugins/**

# Ignore certain paths, all files under these paths will be skipped during processing
ignore:
  - "examples" # ignore example code folder
  - "tests" # ignore unit test code folder
  - "tests_isolated" # ignore integration test code folder

Updated some help text and colors.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Due: cmd2

Moved decorators._set_parser_prog() to argparse_custom.set_parser_prog().
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  tests/test_argparse.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
Due: cmd2

Changed do_help() so that argparsers print their own help.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Due: cmd2

Only redirect sys.stdout when it's the same as self.stdout.
  cmd2/cmd2.py
  cmd2/py_bridge.py
  cmd2/utils.py
Due: cmd2

Added unit tests for when to redirect/capture sys.stdout.
  CHANGELOG.md
  cmd2/py_bridge.py
  tests/conftest.py
  tests/pyscript/stdout_capture.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
Due: cmd2

Add mypy type checking for Python 3.14 and use open() instead of codecs.open() due to deprecation in 3.14
  .github/workflows/typecheck.yml
  cmd2/utils.py
Due: cmd2

Add mypy type checking for Python 3.14 and use open() instead of codecs.open() due to deprecation in 3.14 (#1470)
  .github/workflows/typecheck.yml
  cmd2/utils.py
Due: cmd2

Enabled all printing methods to support Rich objects.
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/rl_utils.py
  tests/test_cmd2.py
  tests/transcripts/regex_set.txt
Due: cmd2

Added unit tests and updated change log.
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Due: cmd2

Enabled all printing methods to support Rich objects. (#1471)
  CHANGELOG.md
  cmd2/cmd2.py
  cmd2/rich_utils.py
  cmd2/rl_utils.py
  tests/test_cmd2.py
  tests/transcripts/regex_set.txt
Due: cmd2

Drop support for Python 3.9 and require 3.10 minimum
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/py_bridge.py
  cmd2/rich_utils.py
  cmd2/rl_utils.py
  cmd2/table_creator.py
  cmd2/utils.py
  docs/overview/installation.md
  examples/modular_commands_main.py
  package.json
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
  pyproject.toml
  tasks.py
  tests/conftest.py
  tests/test_argparse.py
  tests_isolated/test_commandset/conftest.py
Due: cmd2, plugins

Restored some comments.
  cmd2/decorators.py
Due: cmd2

Drop support for Python 3.9 and require 3.10 minimum (#1473)
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/command_definition.py
  cmd2/decorators.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/plugin.py
  cmd2/py_bridge.py
  cmd2/rich_utils.py
  cmd2/rl_utils.py
  cmd2/table_creator.py
  cmd2/utils.py
  docs/overview/installation.md
  examples/modular_commands_main.py
  package.json
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/setup.py
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/noxfile.py
  plugins/template/setup.py
  pyproject.toml
  tasks.py
  tests/conftest.py
  tests/test_argparse.py
  tests_isolated/test_commandset/conftest.py
Due: cmd2, plugins

All tables in cmd2 are now rich-based, including those used in tab completion. Added a StrEnum for all cmd2 text styles.
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  docs/features/builtin_commands.md
  examples/argparse_completion.py
  pyproject.toml
  tests/conftest.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_history.py
  tests/transcripts/regex_set.txt
  tests_isolated/test_commandset/conftest.py
Due: cmd2

Force UTF-8 Unicode encoding when running tests both locally and in GitHub Actions
  .github/workflows/tests.yml
  Makefile
Due: none

Fixed unit test on Windows.
  tests/transcripts/regex_set.txt
Due: none

Fixed issue where colors were being stripped by pyreadline3.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Due: cmd2

All tables in cmd2 are now rich-based. (#1475)
  .github/workflows/tests.yml
  Makefile
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/rich_utils.py
  docs/features/builtin_commands.md
  examples/argparse_completion.py
  pyproject.toml
  tests/conftest.py
  tests/test_argparse_completer.py
  tests/test_cmd2.py
  tests/test_history.py
  tests/transcripts/regex_set.txt
  tests_isolated/test_commandset/conftest.py
Due: cmd2

Backing up working. Lots of refactoring. Tests are broken.
  .github/CONTRIBUTING.md
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/colors.py
  cmd2/constants.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
  cmd2/table_creator.py
  cmd2/transcript.py
  cmd2/utils.py
  docs/features/generating_output.md
  docs/requirements.txt
  examples/async_printing.py
  examples/custom_parser.py
  examples/table_creation.py
  pyproject.toml
  tests/test_ansi.py
  tests/test_cmd2.py
  tests/test_parsing.py
  tests/test_table_creator.py
  tests/test_utils.py
Due: cmd2

Change utils.get_types to use inspect.get_annotations that was added in Python 3.10 since we dropped support for 3.9
  .gitignore
  .pre-commit-config.yaml
  cmd2/utils.py
  docs/api/utils.md
Due: cmd2

Change utils.get_types to use inspect.get_annotations that was added in Python 3.10 since we dropped support for 3.9 (#1476)
  .gitignore
  .pre-commit-config.yaml
  cmd2/utils.py
  docs/api/utils.md
Due: cmd2

Refactored cmd2 to better account for our use of Rich.
  .github/CONTRIBUTING.md
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/colors.py
  cmd2/constants.py
  cmd2/exceptions.py
  cmd2/history.py
  cmd2/parsing.py
  cmd2/rich_utils.py
  cmd2/string_utils.py
  cmd2/styles.py
  cmd2/table_creator.py
  cmd2/terminal_utils.py
  cmd2/transcript.py
  cmd2/utils.py
  docs/features/generating_output.md
  docs/requirements.txt
  examples/async_printing.py
  examples/custom_parser.py
  examples/table_creation.py
  pyproject.toml
  tests/test_ansi.py
  tests/test_cmd2.py
  tests/test_parsing.py
  tests/test_run_pyscript.py
  tests/test_string_utils.py
  tests/test_table_creator.py
  tests/test_terminal_utils.py
  tests/test_utils.py
Due: cmd2

Fixed documentation build on refactoring branch
  docs/api/ansi.md
  docs/api/clipboard.md
  docs/api/colors.md
  docs/api/index.md
  docs/api/rich_utils.md
  docs/api/rl_utils.md
  docs/api/string_utils.md
  docs/api/table_creator.md
  docs/api/terminal_utils.md
  docs/api/transcript.md
  docs/features/generating_output.md
  docs/features/table_creation.md
  mkdocs.yml
Due: none

Fixed explanation of `colors` module in documentation now that it no longer contains a StrEnum
  docs/api/index.md
Due: none

Moved the style and color string constants into Cmd2Style and ColorName StrEnums.
  cmd2/__init__.py
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/colors.py
  cmd2/rich_utils.py
  cmd2/styles.py
  docs/api/index.md
  docs/api/styles.md
  mkdocs.yml
  pyproject.toml
  tests/test_cmd2.py
  tests/test_string_utils.py
  tests/test_terminal_utils.py
Due: cmd2

Removed unused AnsiSequence class.
  cmd2/terminal_utils.py
Due: cmd2

Renamed ColorName enum to Color.
  cmd2/__init__.py
  cmd2/colors.py
  cmd2/styles.py
  docs/api/index.md
  tests/test_cmd2.py
  tests/test_string_utils.py
  tests/test_terminal_utils.py
Due: cmd2

Addressing some code review comments.
  .github/CONTRIBUTING.md
  docs/requirements.txt
  examples/async_printing.py
  pyproject.toml
Due: none

Addressing more code review comments.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/history.py
  cmd2/parsing.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests/test_string_utils.py
  tests/test_terminal_utils.py
Due: cmd2

Added documentation to colors.Color and resorted its members with a natural sort.
  cmd2/colors.py
Due: cmd2

Added more documentation.
  CHANGELOG.md
  cmd2/colors.py
Due: cmd2

Simplified some imports.
  cmd2/argparse_custom.py
  cmd2/string_utils.py
  cmd2/terminal_utils.py
  cmd2/transcript.py
  cmd2/utils.py
Due: cmd2

Renamed rich_utils.allow_style to rich_utils.ALLOW_STYLE to be consistent with our other global settings.
  cmd2/cmd2.py
  cmd2/rich_utils.py
  tests/test_cmd2.py
Due: cmd2

Removed outdated comment.
  cmd2/cmd2.py
Due: cmd2

Refactored the help functions.
  cmd2/cmd2.py
  cmd2/styles.py
  tests/test_cmd2.py
Due: cmd2
