Repository python-cmd2/cmd2: changes, and which Codecov flags are due for each by the changed paths.
All: cmd2, plugins

codecov.yml:

# Components allow you to isolate and categorize coverage data from your project with virtual filters
component_management:
  individual_components:
    - component_id: cmd2 # this is an identifier that should not be changed
      name: cmd2 # this is a display name, and can be changed freely
      paths:
        - cmd2/**
    - component_id: plugins
      name: plugins
      paths:
        - plugins/**

# Ignore certain paths, all files under these paths will be skipped during processing
ignore:
  - "examples" # ignore example code folder
  - "tests" # ignore unit test code folder
  - "tests_isolated" # ignore integration test code folder

Added info on description and epliog fields within argument parsers being rich objects and info on HelpFormatter classes
  docs/features/argument_processing.md
Due: none

Deleted ignored ruff rule that no longer exists from ext-test pyproject.toml
  plugins/ext_test/pyproject.toml
Due: plugins

Fixed bug where rich_utils._apply_style_wrapper() could strip a trailing newline.
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Due: cmd2

Fixed bug where rich_utils._apply_style_wrapper() could strip a trailing newline. (#1514)
  cmd2/rich_utils.py
  tests/test_rich_utils.py
Due: cmd2

Addressed PR comments
  docs/features/argument_processing.md
  docs/features/disable_commands.md
  docs/features/generating_output.md
  docs/features/scripting.md
  docs/features/shortcuts_aliases_macros.md
  docs/features/theme.md
  docs/migrating/minimum.md
  docs/overview/integrating.md
Due: none

Update tag validation regex to support prereleases
  tasks.py
Due: none

Delete the `cmd2_ext_test.py` plugin code from the cmd2 repo
  docs/plugins/external_test.md
  docs/plugins/index.md
  docs/plugins/plugin_template.md
  docs/testing.md
  mkdocs.yml
  plugins/ext_test/CHANGELOG.md
  plugins/ext_test/README.md
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/__init__.py
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  plugins/ext_test/cmd2_ext_test/py.typed
  plugins/ext_test/cmd2_ext_test/pylintrc
  plugins/ext_test/examples/example.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/pyproject.toml
  plugins/ext_test/setup.py
  plugins/ext_test/tasks.py
  plugins/ext_test/tests/__init__.py
  plugins/ext_test/tests/pylintrc
  plugins/ext_test/tests/test_ext_test.py
  plugins/tasks.py
  pyproject.toml
  tests_isolated/test_commandset/conftest.py
Due: plugins

Fixed a copy-paste bug. Thanks gemini-cli for catching it!
  tests_isolated/test_commandset/conftest.py
Due: none

Delete the `cmd2_ext_test.py` plugin code from the cmd2 repo (#1518)
  docs/plugins/external_test.md
  docs/plugins/index.md
  docs/plugins/plugin_template.md
  docs/testing.md
  mkdocs.yml
  plugins/ext_test/CHANGELOG.md
  plugins/ext_test/README.md
  plugins/ext_test/build-pyenvs.sh
  plugins/ext_test/cmd2_ext_test/__init__.py
  plugins/ext_test/cmd2_ext_test/cmd2_ext_test.py
  plugins/ext_test/cmd2_ext_test/py.typed
  plugins/ext_test/cmd2_ext_test/pylintrc
  plugins/ext_test/examples/example.py
  plugins/ext_test/noxfile.py
  plugins/ext_test/pyproject.toml
  plugins/ext_test/setup.py
  plugins/ext_test/tasks.py
  plugins/ext_test/tests/__init__.py
  plugins/ext_test/tests/pylintrc
  plugins/ext_test/tests/test_ext_test.py
  plugins/tasks.py
  pyproject.toml
  tests_isolated/test_commandset/conftest.py
Due: plugins

Move two test files that don't need to be isolated from tests_isolated to tests
  tests/conftest.py
  tests/test_argparse_subcommands.py
  tests/test_categories.py
  tests_isolated/conftest.py
  tests_isolated/test_commandset.py
  tests_isolated/test_commandset/__init__.py
Due: none

Improve documentation comments in ExternalTestMixin class in tests/conftest.py based on PR comments from gemini-cli
  tests/conftest.py
Due: none

Fix spelling error
  tests/conftest.py
Due: none

Move two test files that don't need to be isolated (#1519)
  tests/conftest.py
  tests/test_argparse_subcommands.py
  tests/test_categories.py
  tests_isolated/conftest.py
  tests_isolated/test_commandset.py
  tests_isolated/test_commandset/__init__.py
Due: none

`auto_load_commands` now defaults to False
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  CHANGELOG.md
  Makefile
  cmd2/cmd2.py
  codecov.yml
  docs/features/modular_commands.md
  docs/upgrades.md
  pyproject.toml
  tasks.py
  tests/conftest.py
  tests/test_commandset.py
  tests_isolated/__init__.py
  tests_isolated/conftest.py
Due: cmd2

A couple minor updates based on PR comments
  docs/features/modular_commands.md
Due: none

auto_load_commands now defaults to False (#1520)
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/workflows/tests.yml
  CHANGELOG.md
  Makefile
  cmd2/cmd2.py
  codecov.yml
  docs/features/modular_commands.md
  docs/upgrades.md
  pyproject.toml
  tasks.py
  tests/conftest.py
  tests/test_commandset.py
  tests_isolated/__init__.py
  tests_isolated/conftest.py
Due: cmd2

Add 'custom_types.py' example, with useful argument types
  examples/README.md
  examples/custom_types.py
Due: none

Add 'custom_types.py' example, with useful argument types (#1522)
  examples/README.md
  examples/custom_types.py
Due: none

Delete plugins directory
  .coveragerc
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  MANIFEST.in
  cmd2/plugin.py
  codecov.yml
  docs/index.md
  docs/mixins/index.md
  docs/mixins/mixin_template.md
  docs/plugins/index.md
  docs/plugins/plugin_template.md
  examples/mixin.py
  mkdocs.yml
  plugins/README.txt
  plugins/tasks.py
  plugins/template/CHANGELOG.md
  plugins/template/LICENSE
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/cmd2_myplugin/__init__.py
  plugins/template/cmd2_myplugin/pylintrc
  plugins/template/examples/example.py
  plugins/template/noxfile.py
  plugins/template/setup.py
  plugins/template/tasks.py
  plugins/template/tests/__init__.py
  plugins/template/tests/pylintrc
  plugins/template/tests/test_myplugin.py
  pyproject.toml
  ruff.toml
  tasks.py
Due: cmd2, plugins

Remove plugins/ dir from CODEOWNERS file
  .github/CODEOWNERS
Due: none

Cleanup documentation based on automated Gemini CLI review
  docs/mixins/mixin_template.md
Due: none

Delete plugins directory (#1523)
  .coveragerc
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  MANIFEST.in
  cmd2/plugin.py
  codecov.yml
  docs/index.md
  docs/mixins/index.md
  docs/mixins/mixin_template.md
  docs/plugins/index.md
  docs/plugins/plugin_template.md
  examples/mixin.py
  mkdocs.yml
  plugins/README.txt
  plugins/tasks.py
  plugins/template/CHANGELOG.md
  plugins/template/LICENSE
  plugins/template/README.md
  plugins/template/build-pyenvs.sh
  plugins/template/cmd2_myplugin/__init__.py
  plugins/template/cmd2_myplugin/pylintrc
  plugins/template/examples/example.py
  plugins/template/noxfile.py
  plugins/template/setup.py
  plugins/template/tasks.py
  plugins/template/tests/__init__.py
  plugins/template/tests/pylintrc
  plugins/template/tests/test_myplugin.py
  pyproject.toml
  ruff.toml
  tasks.py
Due: cmd2, plugins

Add info on the cmd2-ansi and cmd2-table backport migration aid modules to documentation and CHANGELOG
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/upgrades.md
Due: none

Add info on the cmd2-ansi and cmd2-table backport migration aid modules to documentation and CHANGELOG (#1524)
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/upgrades.md
Due: none

Minor tweaks to CHANGELOG and README prior to putting out a release candidate
  CHANGELOG.md
  README.md
Due: none

Remove plugin stuff from invoke `tasks.py` file
  tasks.py
Due: none

Update README to mention the 3.0.0rc1 release candidate
  README.md
Due: none

Added note on breaking change regarding name change for a couple string functions
  CHANGELOG.md
Due: none

Add a couple more undocumented breaking chagnes to the CHANGELOG
  CHANGELOG.md
Due: none

Add breaking change note about change to CompletionItem class
  CHANGELOG.md
Due: none

Made type hint for descriptive_headers in _add_argument_wrapper() consistent with its type hint in _action_get_descriptive_headers() and _action_set_descriptive_headers().
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
Due: cmd2

Renamed history --output_file to --output-file to follow common command-line practices
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/history.md
Due: cmd2

Renamed history --output_file to --output-file to follow common command-line practices (#1527)
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/history.md
Due: cmd2

Update ruff to 0.13.3
  .pre-commit-config.yaml
Due: none

feat: Restore CompletionItem.description
  CHANGELOG.md
  cmd2/argparse_completer.py
  cmd2/argparse_custom.py
  tests/test_cmd2.py
Due: cmd2

Improved working in Changelog
  CHANGELOG.md
Due: none

Update cmd2/argparse_custom.py
  cmd2/argparse_custom.py
Due: cmd2

Upgrade versions of ruff, uv, and Python used for CI/CD
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  Makefile
Due: none

Upgrade versions of ruff, uv, and Python used for CI/CD (#1529)
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  Makefile
Due: none
