Repository python-cmd2/cmd2: changes, and which Codecov flags are due for each by the changed paths.
All: cmd2, plugins

codecov.yml:

# Components allow you to isolate and categorize coverage data from your project with virtual filters
component_management:
  individual_components:
    - component_id: cmd2 # this is an identifier that should not be changed
      name: cmd2 # this is a display name, and can be changed freely
      paths:
        - cmd2/**
    - component_id: plugins
      name: plugins
      paths:
        - plugins/**

# Ignore certain paths, all files under these paths will be skipped during processing
ignore:
  - "examples" # ignore example code folder
  - "tests" # ignore unit test code folder
  - "tests_isolated" # ignore integration test code folder

Integrated rich-argparse.
  cmd2/argparse_custom.py
  pyproject.toml
Due: cmd2

Reformatted some imports.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Due: cmd2

Updated comments.
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
Due: cmd2

Add support for rich-argparse (#1453)
  CHANGELOG.md
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  pyproject.toml
Due: cmd2

Fixed some documentation.
  .github/CONTRIBUTING.md
Due: none

Fixed some documentation. (#1454)
  .github/CONTRIBUTING.md
Due: none

Updated CHANGELOG with a release date for 2.7.0
  CHANGELOG.md
Due: none

Update everything to refer to main branch instead of master
  .github/CONTRIBUTING.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/features/argument_processing.md
  docs/features/completion.md
  docs/features/embedded_python_shells.md
  docs/features/misc.md
  docs/features/modular_commands.md
  docs/features/prompt.md
  docs/features/scripting.md
  docs/features/settings.md
  docs/features/startup_commands.md
  docs/features/table_creation.md
  docs/overview/installation.md
  docs/overview/resources.md
  docs/plugins/external_test.md
  examples/README.md
  plugins/ext_test/README.md
  plugins/ext_test/setup.py
  plugins/template/README.md
Due: plugins

Add note to README about how 2.x is feature complete
  README.md
Due: none

Try to replace symbol with emoji
  README.md
Due: none

Add note to README about how 2.x is feature complete (#1455)
  README.md
Due: none

Removed macros.
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/examples/first_app.md
  docs/features/builtin_commands.md
  docs/features/commands.md
  docs/features/help.md
  docs/features/history.md
  docs/features/index.md
  docs/features/initialization.md
  docs/features/os.md
  docs/features/shortcuts_aliases.md
  docs/migrating/incompatibilities.md
  docs/migrating/why.md
  examples/help_categories.py
  mkdocs.yml
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Due: cmd2

All built-in commands now use a function to create their argument parser. This simplifies the process for overriding cmd2's default parser class.
  CHANGELOG.md
  cmd2/__init__.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  examples/custom_parser.py
  examples/help_categories.py
  examples/override_parser.py
  plugins/ext_test/pyproject.toml
  pyproject.toml
  tests/test_argparse_custom.py
  tests/test_history.py
Due: cmd2, plugins

Replace references to override_parser.py example with ones to custom_parser.py
  .pre-commit-config.yaml
  CHANGELOG.md
  cmd2/argparse_custom.py
  examples/README.md
  plugins/ext_test/pyproject.toml
Due: cmd2, plugins

Fixed spelling and corrected CHANGELOG entry.
  CHANGELOG.md
  examples/README.md
Due: none

Updated .github/CODEOWNERS to reflect current project structure and recent ownership
  .github/CODEOWNERS
Due: none

Updated .github/CODEOWNERS to reflect current project structure and recent ownership (#1459)
  .github/CODEOWNERS
Due: none

Update README.md
  README.md
Due: none

Shorten Pobshell description as requested in PR review
  README.md
Due: none

Fix dumb mistake in Pobshell addition to README projects section
  README.md
Due: none

Add Pobshell to the "Projects using cmd2" table in README (#1461)
  README.md
Due: none

No longer setting parser's prog value in with_argparser() since it gets set in Cmd._build_parser().
  CHANGELOG.md
  cmd2/decorators.py
Due: cmd2

Added rich_utils module which is the foundation code for supporting Rich in the rest of cmd2.
  cmd2/rich_utils.py
Due: cmd2

Integrated more of rich-argparse into cmd2. Upgraded several parsers for built-in commands to use rich.
  cmd2/__init__.py
  cmd2/ansi.py
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  docs/features/argument_processing.md
  docs/features/help.md
  examples/table_creation.py
  tests/conftest.py
  tests/test_argparse.py
  tests/test_argparse_custom.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/transcripts/from_cmdloop.txt
  tests_isolated/test_commandset/test_argparse_subcommands.py
Due: cmd2

Added rich support to cmd2's print methods. Removed Cmd.ppaged() since it is now handled in Cmd.print_to(). Moved decorators._set_parser_prog to argparse_custom.set_parser_prog.
  cmd2/argparse_custom.py
  cmd2/cmd2.py
  cmd2/decorators.py
  cmd2/rl_utils.py
  tests/test_argparse.py
  tests/test_cmd2.py
  tests_isolated/test_commandset/test_argparse_subcommands.py
Due: cmd2

Changed do_help() to have argparsers print their own help.
  cmd2/argparse_completer.py
  cmd2/cmd2.py
Due: cmd2

Added patched version of Text.from_ansi() to rich_utils.py.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Due: cmd2

Fixing unit tests.
  tests/test_argparse.py
  tests/test_cmd2.py
  tests/test_run_pyscript.py
Due: none

Restored macros.
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/examples/first_app.md
  docs/features/builtin_commands.md
  docs/features/commands.md
  docs/features/help.md
  docs/features/history.md
  docs/features/index.md
  docs/features/initialization.md
  docs/features/os.md
  docs/features/shortcuts_aliases_macros.md
  docs/migrating/incompatibilities.md
  docs/migrating/why.md
  mkdocs.yml
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Due: cmd2

Added Cmd.macro_arg_complete() to allow custom tab completion for macro arguments.
  CHANGELOG.md
  cmd2/cmd2.py
  docs/features/shortcuts_aliases_macros.md
Due: cmd2

Restore macros (#1464)
  CHANGELOG.md
  README.md
  cmd2/cmd2.py
  cmd2/parsing.py
  docs/examples/first_app.md
  docs/features/builtin_commands.md
  docs/features/commands.md
  docs/features/help.md
  docs/features/history.md
  docs/features/index.md
  docs/features/initialization.md
  docs/features/os.md
  docs/features/shortcuts_aliases_macros.md
  docs/migrating/incompatibilities.md
  docs/migrating/why.md
  mkdocs.yml
  tests/conftest.py
  tests/test_cmd2.py
  tests/test_completion.py
  tests/test_parsing.py
  tests_isolated/test_commandset/conftest.py
  tests_isolated/test_commandset/test_commandset.py
Due: cmd2

Update version of ruff used by pre-commit
  .pre-commit-config.yaml
Due: none

Updated some help text and colors.
  cmd2/cmd2.py
  cmd2/rich_utils.py
Due: cmd2
